# Python
# =======
__pycache__/
*.py[cod]

# Virtual Environtment
# =====================
venv/
.venv/
.env/

# VS Code
# ========
.vscode/

# MacOS
# ======
.DS_Store

# Configuration
# ==============
config.py